* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #eee;
}

/* nav start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    position: relative;
}

.drop-down i{
    display: none;
}

.drop-down ul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    transition: all 0.3s;
}

.drop-down ul li {
    position: relative;
    transition: all 0.3s;
}

.drop-down ul li a {
    color: #00aa2f;
    fill: #00aa2f;
    text-decoration: none;
}

.drop-down-menu-1 {
    display: none;
    transition: all 0.3s;
}

.drop-down ul li:hover .drop-down-menu-1 {
    display: block;
    position: absolute;
    left: -10px;
    top: 100%;
}

.drop-down-menu-1 ul {
    display: block;
    background-color: #fff;
    margin-top: 25px;
    border-radius: 15px;
}

.drop-down-menu-1 ul li {
    width: 177px;
    padding: 10px 5px 10px 5px;
}

.drop-down-menu-1 ul li a {
    font-weight: 600;
    font-size: 14px;
}

.drop-down-menu-2 {
    display: none;
    position: relative;
}

.drop-down ul li:hover .drop-down-menu-2 {
    display: block;
    position: absolute;
    left: -10px;
    top: 100%;
}

.drop-down-menu-2 ul {
    display: block;
    background-color: #fff;
    margin-top: 25px;
    border-radius: 15px;
}

.drop-down-menu-2 ul li {
    width: 160px;
    padding: 10px 5px 10px 5px;
}

.drop-down-menu-2 ul li a {
    font-weight: 600;
    font-size: 14px;
    display: block;
}

.drop-down-menu-2 ul li svg{
    float: right;
}

.drop-down-menu-3 {
    display: none;
}

.drop-down ul li:hover .drop-down-menu-3 {
    display: block;
    position: absolute;
    left: -10px;
    top: 100%;
}

.drop-down-menu-3 ul {
    display: block;
    background-color: #fff;
    margin-top: 25px;
    border-radius: 15px;
}

.drop-down-menu-3 ul li {
    width: 220px;
    padding: 10px 5px 10px 5px;
}

.drop-down-menu-3 ul li a {
    font-weight: 600;
    font-size: 13px;
}

.side-drop-down-1{
    display: none;
}

.drop-down-menu-2 ul li:hover .side-drop-down-1{
    display: block;
    position: absolute;
    top: -25px;
    left: 100%;
}

.side-drop-down-1 ul{
    display: block;
    margin-left: 1px;
    border-radius: 15px;
}
.side-drop-down-1 ul li{
    width: 120px;
    padding: 13px;
}

#svg-2{
    display: none;
}



.drop-down button{
    border: 1.5px solid #00aa2f;
    background-color: #00aa2f;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
}
.drop-down button:hover{
    background-color: #fff;
    color: #00aa2f;
}

.drop-down input{
    display: none;
}

.drop-down label{
    display: none;
}

#menu{
    transition: all 0.5s linear;
}

.spinner {
    height: 3px;
    background-color: black;
    transition: all 0.3s;
    border-radius: 10px;
}

.middle,
.bottom,.top {
    margin-top: 3px;
}
 
.side-bar-icon {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 20px;
    right: 10px;
}


#side-bar-open:checked~.side-bar-icon>.middle{
    opacity: 0;
}
#side-bar-open:checked~.side-bar-icon>.top {
    transform: rotate(135deg);
    margin-top: 8px;
}

#side-bar-open:checked~.side-bar-icon>.bottom {
    transform: rotate(-135deg);
    margin-top: -9px;
}


/* query for nav start */
@media (max-width:992px) {
    .drop-down label{
        display: initial;
    }
    #menu{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        border-top: 1px solid black;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        transform: translateY(-500px);
    } 
    #menu li{
        margin: 20px 0 0 10px;
    }
    #menu button{
      margin: 10px 0 10px 5px;
    }

    #side-bar-open:checked~#menu{
        transform: translateY(0);
    }

    #svg-1{
        display: none;
    }

    #svg-2{
        display: initial;
    }

    .drop-down ul li:hover .drop-down-menu-3 {
        display: block;
        position: absolute;
        top: -94px;
        left: 100%;
    }

    .drop-down-menu-3 ul{
        margin-left: 20px;
        background-color: #eee;
    }

    .drop-down-menu-3 ul li {
        position: relative;
        display: block;
        width: 220px;
        padding: 2px 8px;
    }
    
    .drop-down-menu-3 ul li a {
        font-weight: 600;
        font-size: 12px;
    }

    .drop-down ul li:hover .drop-down-menu-1 {
        display: block;
        position: absolute;
        top: -30px;
        left: 100%;
    }
    
    .drop-down-menu-1 ul {
        display: block;
        background-color: #eee;
        margin-left: 40px;
        border-radius: 15px;
    }
    
    .drop-down-menu-1 ul li {
        position: relative;
        width: 170px;
        padding: 8px;
    }
    
    .drop-down-menu-1 ul li a {
        font-weight: 600;
        font-size: 13px;
    }


    .drop-down ul li:hover .drop-down-menu-2 {
        display: block;
        position: absolute;
        top: -30px;
        left: 100%;
    }
    
    .drop-down-menu-2 ul {
        display: block;
        background-color: #eee;
        margin-left: 30px;
        border-radius: 15px;
    }
    
    .drop-down-menu-2 ul li {
        width: 160px;
        padding: 5px;
    }
    
    .drop-down-menu-2 ul li a {
        font-weight: 600;
        font-size: 14px;
    }

    .drop-down-menu-2 ul li:hover .side-drop-down-1{
        display: block;
        position: absolute;
        top: -25px;
        left:84%;
    }
    
    .side-drop-down-1 ul{
        display: block;
        border-radius: 15px;
    }
    .side-drop-down-1 ul li{
        width: 100px;
        padding:5px;
    } 
}

@media (max-width:425px) {
    .drop-down ul li a{
     font-size: 15px;   
    }
    .drop-down ul li:hover .drop-down-menu-1 {
        display: block;
        position: absolute;
        top: -30px;
        left: 100%;
    }
    
    .drop-down-menu-1 ul {
        display: block;
        background-color: #eee;
        margin-left: 20px;
        border-radius: 15px;
    }
    
    .drop-down-menu-1 ul li {
        position: relative;
        width: 150px;
        padding: 5px;
    }
    
    .drop-down-menu-1 ul li a {
        font-weight: 600;
        font-size: 12px;
    }

    .drop-down ul li:hover .drop-down-menu-2 {
        display: block;
        position: absolute;
        top: -30px;
        left: 100%;
    }
    
    .drop-down-menu-2 ul {
        display: block;
        background-color: #eee;
        margin-left: 10px;
        border-radius: 15px;
    }
    
    .drop-down-menu-2 ul li {
        width: 130px;
        padding:5px 3px;
    }
    
    .drop-down-menu-2 ul li a {
        font-weight: 600;
        font-size: 12px;
    }

    .drop-down-menu-2 ul li:hover .side-drop-down-1{
        display: block;
        position: absolute;
        top: 100%;
        left:20px;
    }
    
    .side-drop-down-1 ul{
        display: block;
        margin-top: 44px;
        border-radius: 15px;
    }
    .side-drop-down-1 ul li{
        width: 80px;
        padding: 3px;
    } 
    .drop-down-menu-2 ul li a {
        font-weight: 600;
        font-size: 11px;
    }

    .drop-down ul li:hover .drop-down-menu-3 {
        display: block;
        position: absolute;
        top: -143px;
        left: 100%;
    }

    .drop-down-menu-3 ul{
        margin-left: 9px;
        background-color: #eee;
    }

    .drop-down-menu-3 ul li {
        position: relative;
        width: 140px;
        padding: 4px 3px;
    }
    
    .drop-down-menu-3 ul li a {
        font-weight: 600;
        font-size: 11px;
    }

    
}

@media(max-width:270px){
    .drop-down ul li a{
        font-size: 14px;   
       }
    .drop-down ul li:hover .drop-down-menu-1 {
        display: block;
        position: absolute;
        top: -30px;
        left: 100%;
    }
    
    .drop-down-menu-1 ul {
        display: block;
        background-color: #eee;
        margin-left: 15px;
        border-radius: 15px;
    }
    
    .drop-down-menu-1 ul li {
        position: relative;
        width: 120px;
        padding: 5px 4px;
    }
    
    .drop-down-menu-1 ul li a {
        font-weight: 600;
        font-size: 12px;
    }

    .drop-down ul li:hover .drop-down-menu-2 {
        display: block;
        position: absolute;
        top: -30px;
        left: 100%;
    }
    
    .drop-down-menu-2 ul {
        display: block;
        background-color: #eee;
        margin-left: 10px;
        border-radius: 15px;
    }
    
    .drop-down-menu-2 ul li {
        width: 130px;
        padding:5px 3px;
    }
    
    .drop-down-menu-2 ul li a {
        font-weight: 600;
        font-size: 12px;
    }

    .drop-down-menu-2 ul li:hover .side-drop-down-1{
        display: block;
        position: absolute;
        top: 100%;
        left:20px;
    }
    
    .side-drop-down-1 ul{
        display: block;
        margin-top: 44px;
        border-radius: 15px;
    }
    .side-drop-down-1 ul li{
        width: 80px;
        padding: 3px;
    } 
    .drop-down-menu-2 ul li a {
        font-weight: 600;
        font-size: 11px;
    }



    .drop-down ul li:hover .drop-down-menu-3 {
        display: block;
        position: absolute;
        top: -137px;
        left: 100%;
    }

    .drop-down-menu-3 ul{
        margin-left: 10px;
        background-color: #eee;
    }

    .drop-down-menu-3 ul li {
        position: relative;
        width: 130px;
        padding: 3px 2px;
    }
    
    .drop-down-menu-3 ul li a {
        font-weight: 600;
        font-size: 11px;
    }

    #menu button{
        font-size: 15px;
    }

}



/* query for nav end */

/* nav end */