* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #eee;
}

/* nav start */
.nav-item a{
    color: #00aa2f !important;
    fill: #00aa2f !important;
    font-weight: 500;
    font-size: 17px;
}
.nav-link{
    margin: 0 20px;
}
.nav-item:hover .dropdown-menu{
    display: block;
}
.btn{
    padding: 5px 15px;
    color: #fff;
    background-color: #00aa2f;
    border: 1.5px solid #00aa2f !important;
    transition: all 0.3s;
    margin-left: 15px;
}
.btn:hover{
    color: #00aa2f;
    background-color: #fff;
}
.dropdown-item:active{
    background-color: #eee;
}

/* nav end */